<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trading Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="dashboard">
        <!-- Seção de Cotação de Bitcoin -->
        <div class="bitcoin-prices">
            <div class="btc">
                <span>🔥 BTC</span>
                <select>
                    <option value="USD">USD</option>
                </select>
            </div>
            <div class="prices">
                <div class="buy">Buy: <span id="buyPrice">Loading...</span></div>
                <div class="sell">Sell: <span id="sellPrice">Loading...</span></div>
            </div>
            
            <div class="price-change">
                Loading...
            </div>
        </div>

        <!-- Seção do Bot -->
        <div class="bot-status">
            <div class="bot-name">
                <span>😊 BiskerBot</span>
                <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
            </div>
            <div class="funds">
                <div>USD <span id="usdFunds">Loading...</span></div>
                <div>BTC <span id="btcFunds">Loading...</span></div>
                <div>Total <span id="totalFunds">Loading...</span></div>
            </div>

            <!-- Sliders -->
            <div class="sliders">
                <div>
                    <label for="biddingRange">Bidding Range</label>
                    <input type="range" id="biddingRange" name="biddingRange">
                </div>
                <div>
                    <label for="riskMultiplier">Risk Multiplier</label>
                    <input type="range" id="riskMultiplier" name="riskMultiplier">
                </div>
            </div>
        </div>

        <!-- Manual Bidding -->
        <div class="manual-bidding">
            <h2 class="title">Manual Bidding</h2>
            <div class="input-group">
                <button id="buyButton">Buy</button>
                <input type="number" id="buyAmount" placeholder="Amount">
            </div>
            <div class="input-group">
                <button id="sellButton">Sell</button>
                <input type="number" id="sellAmount" placeholder="Amount">
            </div>
        </div>

    </div>
    <script>
        function fetchPrices() {
            var buyPriceCall = $.getJSON('/buy_price');
            var sellPriceCall = $.getJSON('/sell_price');
            var priceChangeCall = $.getJSON('/price_change');
            var walletUsdCall = $.getJSON('/wallet_USD');
            var walletBtcCall = $.getJSON('/wallet_BTC');
            var historyCall = $.getJSON('/history');
    
            $.when(buyPriceCall, sellPriceCall, walletUsdCall, walletBtcCall,priceChangeCall, historyCall)
            .done(function(buyData, sellData, usdData, btcData,priceChangeData, historyCall) {
                var buyPrice = buyData[0].buyPrice;
                var sellPrice = sellData[0].sellPrice;
                var walletUSD = usdData[0].wallet_USD;
                var walletBTC = btcData[0].wallet_BTC;
                var priceChange = priceChangeData[0].priceChange;
                var history = historyCall[0].history;
    
                // Atualizar os elementos da DOM com os valores obtidos
                $('#buyPrice').text(buyPrice + '$');
                $('#sellPrice').text(sellPrice + '$');
                $('#usdFunds').text(walletUSD + '$');
                $('#btcFunds').text(walletBTC);
                $('#history').text(history);
    
                // Calcular e exibir o total de fundos
                var totalFunds = walletUSD + (walletBTC * sellPrice);
                $('#totalFunds').text(totalFunds.toFixed(2) + '$'); // Arredonda para 2 casas decimais
    
                // Atualizar a mudança de preço
                $('.price-change').text(priceChange);
            });
        }
    
        // Atualiza os preços a cada segundo
        setInterval(fetchPrices, 1000);
    </script>
    
    <iframe src="/dash/" width="100%" height="800px" style="border:none;"></iframe>
    
</body>
</html>
